header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 2.8rem;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px #ddd;
  font-weight: bold;
  color: #034EA2;
  justify-content: space-between;
  align-items: center;
  line-height: 2.8rem;
  z-index: 1;
}

.container {
  background-color: #F3F6FA;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 2.8rem;
  left: 0;
  z-index: 0;
}

.beacon-list {
  background-color: #fff;
  height: 80%;
  width: 80%;
  margin: 5% auto;
  border-radius: 10px;
  padding: 1.2rem;
  justify-content: space-between;
}

.title {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.title p {
  margin: 0;
  width: auto;
}

.title span {
  font-size: 0.5rem;
  font-weight: normal; 
  margin-left: 6px;
}

.loading {
  position: absolute;
  margin-left: 30%;
  width: 1px;
  height: 1px;
}

.loading .circle {
  position: fixed;
  display: inline-block;
  width:0.5rem; 
  height:0.5rem; 
  border:6px solid #ccc; 
  border-top:6px solid #034EA2; 
  border-radius:50em; transition:all .2s;
  animation-name:spinCircle;
  animation-duration:.8s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

@keyframes spinCircle {
    from {
        transform:translate(-50%, -50%) rotate(0);
    }
    to {
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

.btn {
  all: inherit;
  float: right;
  z-index: 999;
  background-color: #3F72BE;
  color: #fff;
  font-size: 1.8vw;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

.invisible {
  display: none;
  visibility: hidden;
}

.beacon-div {
  margin-top: 4vw;
  width: inherit;
  height: 74%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 한 줄에 갯수 */
  grid-auto-rows: 24vw;
  place-items: center;
  position: absolute;
  overflow: auto;
  word-break: break-all;
}

.item {
  background-color: #F3F6FA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #034EA2;
  font-weight: bold;
  width: 16vw;
  height: 16vw;
  }

  .smallLetter {
    font-size: 0.8rem
  }

.m-modal {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: none;
  font-size: 2vw;
}


.m-show-modal {
  display: flex;
}

.m-content {
  position: absolute;
  background-color: #fff;
  width: 80%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 6% 0;
  border-radius: 7px;
  z-index: 2;
  padding-top: 9vw;
}

.m-input {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.m-name {
  margin-block-start: 0;
  margin-block-end: 0;
  border-bottom: 1px solid #034EA2;
  margin-left: 7.5%;
  margin-bottom: 2%;
  width: fit-content;
  padding: 5px 0 2px;
  font-size: 3.5vw;
}

.m-textarea {
  width: 85%;
  height: 30vw;
  resize: none;
  margin: 3% auto 8%;
  border: 1px solid #ccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.m-textarea:focus {
  outline: none;
  border: 1px solid #034EA2;
}

.m-button {
  margin: 0 7.5% 0 5px;
}

.m-close {
  all: inherit;
  color: #034EA2;
  font-weight: bold;
  padding: 8px 20px;
  float: right;
  width: auto;
  height: auto;
  margin: 0;
  display: inline-block;
}

.m-submit {
  all: inherit;
  background-color: #034EA2;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  width: auto;
  padding: 8px 20px;
  height: auto;
  float: right;
  margin: 0;
  display: inline-block;
}
