<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="message.css">
  <title>Message</title>
</head>
<body>
  <button id="openMessage">open modal</button>
  <div class="m-modal">
    <div class="m-content">
      <div class="m-input">
      <p id="beaconName"  class="m-name">음극분체호퍼#1</p>
      <textarea class="m-textarea">작업 시작 전 안전점검 시 유의 바람</textarea>
      </div>
      <div class="m-button">
      <button id="submitMessage" class="m-submit">저장</button>
      <button id="closeMessage" class="m-close">취소</button>
      </div>
    </div>
  </div>
</body>
</html>