.m-modal {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  font-size: 2vw;
}

.m-content {
  background-color: #fff;
  width: 80%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding: 6% 0;
}

.m-input {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.m-name {
  margin-block-start: 0;
  margin-block-end: 0;
  border-bottom: 1px solid #0044A9;
  margin-left: 7.5%;
  width: fit-content;
  padding: 5px 0;
  font-size: 2vw;
}

.m-textarea {
  width: 85%;
  height: 30vw;
  resize: none;
  margin: 3% auto 8%;
  border: 1px solid #ccc;
}

.m-textarea:focus {
  outline: none;
  border: 1px solid #0044A9;
}

.m-button {
  margin: 0 7.5% 0 5px;
}

.m-close {
  all: inherit;
  color: #0044A9;
  font-weight: bold;
  padding: 8px 20px;
  float: right;
  width: auto;
  height: auto;
  margin: 0;
  display: inline-block;
}

.m-submit {
  all: inherit;
  background-color: #0044A9;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  width: auto;
  padding: 8px 20px;
  height: auto;
  float: right;
  margin: 0;
  display: inline-block;
}