<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="beacon_crud.css">
  <title>beacon_crud</title>
</head>
<body>
  <div class="beacon_crud_body">
    <div class="beacon_crud_navbar">

    </div>

    <div class="beacon_crud_container">
      <button id="beacon_c_butt">비콘 추가</button>
      <button id="beacon_ud_butt">비콘 수정/삭제</button>
  </div>


  <script src="./beacon_crud.js"></script>
</body>
</html>