<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="beacon_crud.css">
  <title>비콘 추가</title>
</head>
<body>
  <div class="title">
    <div class="crud_btn" id="beaconBackBtt">뒤로 가기</div>
    <div class="title_content">
      <div class="title_content_1">비콘 리스트</div>
      <div class="title_content_2">
        스캔중
        <div class="loader"></div>
      </div>
    </div>
  </div>
  <div class="title_div"></div>

  <br>

  <div id="beacon_c_container">
    <!-- <div class="beacon_card_body">
      <div class="top">
        <div class="left">
          <div class="beacon_img"></div>
          <img src="../../../image/beacon_logo.jpg" alt="비콘이미지">
        </div>
  
        <div class="center">
          <div class="beacon_title">Undefined</div>
          <div>
            <span class="beacon_opthion_name">RSSI</span>
            <span id="${beacon.id}_rssi" class="beacon_opthion_value">-23dBm</span>
          </div>
          <div>
            <span class="beacon_opthion_name">Adv. 주기</span>
            <span id="${beacon.id}_advertising" class="beacon_opthion_value">3sec</span>
          </div>
          <div>
            <span class="beacon_opthion_name">센싱 주기</span>
            <span id="${beacon.id}_sensing" class="beacon_opthion_value">3sec</span>
          </div>
        </div>
  
        <div class="right">
          <div id="${beacon.id}_vbatt" class="beacon_vbatt">90%</div>
        </div>
      </div>
      <div class="bottom">
        <div class=beacon_add_butt value="${beacon.id}" type="button">비콘 추가</div>
      </div>
    </div> -->
  </div>
    
  <div class="modal_body">
    <div class="modal-bg" id="modal_container">
      <div class="modal">
        <img src="beacon_logo.jpg" alt="비콘이미지">

        <div class="wrapper">
          <div  class="input-data">
            <div class="two-ele">
              <label for="line">라인</label>
              <span>* 필수항목</span>
            </div>
            <select name="line" id="beacon_line">
              <option value="">----------</option>
            </select>
          </div>
        </div>
        
        <div class="wrapper">
          <div  class="input-data">
            <div class="two-ele">
              <label for="equipment">설비</label>
              <span>* 필수항목</span>
            </div>
            <select name="equipment" id="beacon_equipment">
              <option value="">----------</option>
            </select>
          </div>
        </div>
        
        <div class="wrapper">
          <div  class="input-data">
            <div class="two-ele">
              <label for="temperature">온도 범위</label>
              <span>최소 ~ 최대</span>
            </div>
            <input id="beacon_temperatureMin" type="number" name="temperatureMin" class="towInput">
            <span>~</span>
            <input id="beacon_temperatureMax" type="number" name="temperatureMax" class="towInput">
          </div>
        </div>

        <div class="wrapper">
          <div  class="input-data">
            <div class="two-ele">
              <label for="humidity">습도 범위</label>
              <span>최소 ~ 최대</span>
            </div>
            <input id="beacon_humidityMin" type="number" name="humidityMin" class="towInput">
            <span> ~ </span>
            <input id="beacon_humidityMax" type="number" name="humidityMax" class="towInput">
          </div>
        </div>
        
        <div class="wrapper">
          <div  class="input-data">
            <div class="two-ele">
              <label for="signalPower">신호 세기</label>
              <span>단위:dBm</span>
            </div>
            <select name="signalPower" id="beacon_signalPower">
              <option value="4">4 dBm [20m ~ 32m]</option>
              <option value="0" selected>0 dBm [6m ~ 8n]</option>
              <option value="-4">-4 dBm [3m ~ 6m]</option>
              <option value="-8">-8 dBm [2m ~ 4m]</option>
              <option value="-12">-12 dBm [1m ~ 2m]</option>
              <option value="-16">-16 dBm [1m]</option>
              <option value="-20">20 dBm [1m 이하]</option>
            </select>
          </div>
        </div>

        <div class="wrapper">
          <div  class="input-data">
            <div class="two-ele">
              <label for="sensing">신호 주기</label>
              <span>단위:sec</span>
            </div>
            <input id="beacon_sensing" type="number" name="sensing" class="input">
          </div>
        </div>
        <div>
          <button id="cu_btn" class="beaconCreateBtn" type="button">추가하기</button>
          <!-- <button id="cu_btn" class="beaconUpdateBtn" type="button">수정하기</button> -->
          <button id="d_btn" class="beaconDeleteBtn" type="button">삭제하기</button>
        </div>

        <button type="button" id="beaconModalClose" class="modal-close">x</button>
      </div>
    </div>
  </div> 
  

  <script type="text/javascript" src="../../cordova.js"></script>
  <script src="../../dist/js/BeaconAdd_bundle.js"></script>
</body>
</html>