html main {
  margin: 0;
  padding: 0;
  margin-top:10%;
  width: 100%;
  height: 90%;
}
header {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #f3f6fa;
  margin-top: 10vh;
}

.BeaconList {
  width: 50%;
  height: 90vh;
  background-color: #f3f6fa;
}
.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 30px;
  height: 30px;
  float: left;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin: 5px;
  font-size: 5pt;
  font-family: sans-serif;
}
.BeaconStatus {
  width: 30%;
  height: 40%;
  background-color: #f3f6fa;
}

.table {
  border: 1px solid black;
}

.subm-n {
  font-weight: bold;
}

.subm-highlight {
  color: #3f72be;
}

.subm-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.subm-container ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.subm-container li {
  display: inline-block;
  padding: 10px 0;
}

.subm-header {
  font-weight: bold;
  background-color: #3f72be10;
  color: #3f72be;
  border-top: 2px solid #3f72be;
  border-bottom: 2px solid #3f72be;
}

.subm-header ul {
  border-bottom: 0;
}

.subm-name {
  width: 30%;
}

.subm-temp {
  width: 25%;
}

.subm-humi {
  width: 25%;
}

.subm-batt {
  width: 20%;
}

.donut {
  width: 15vw;
  height: 15vh;
}
.donutinfo {
  width: 100%;
  height: 30%;
}
.leftlist {
  margin-top: 10vh;
  width: 20%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.leftup {
  width: 100%;
  height: 30vh;
  display: block;
  background-color: white;
  border-radius: 10px;
  margin: 1%;
}

monitortitle {
  font-size: medium;
  color: white;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  margin: 0 5%;
  padding: 0;
  text-align: center;
}

/* 모니터링 화면 1안 - 비콘 목록 나열 */
/* .Beacon__list {
  width: 90%;
  margin: auto;
}

.Beacon__card {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #3f72be;
  padding: 1%;
}

.Beacon__card__header {
  display: flex;
}

.beacon__img {
  width: 50%;
}

.Beacon__card__info {
  font-size: 10px;
}

.Beacon__card__title {
  text-align: center;
  font-size: 9px;
}

.Beacon__card__workers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Beacon__card__worker {
  width: 18%;
  height: 10px;
  background-color: #3f72be;
  border-radius: 50%;
  margin: 1%;
} */

/* 모니터링 화면 2안 - 맵 */

.Beacon__map {
  background-image: url("./icons/blueprint.png") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: center; */
  margin:auto;
  width: 95%;
  height: 80%;
  position: relative;
  border-radius: 20px;
  /* border: 1px solid #3f72be; */
}

.Beacon__img {
  width: 40px;
  height: 40px;
  position:absolute;
}

.Beacon__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f72be;
  position: absolute;
  animation-name: beacon;
  animation: beacon 3s infinite;
}

.Beacon__worker {
  width: 15px;
  height: 15px;
  /* border-radius: 50%; */
  position: absolute;
  /* background-color: skyblue; */
 
}

.Beacon__worker__img {
  width: 15px;
  height:15px;
}

/* 
@keyframes goodBeacon {
  from {
    background-color: skyblue;
  }
  to {
    background-color: blue;
  }
} */

@keyframes beacon {
  0% {
    box-shadow: 0 0 0 0 #afeeee
  }
  100% {
    box-shadow: 0 0 0 2rem transparent
  }
}