:root {
  font-family: Roboto;
  font-style: normal;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f6fa;
}
header {
  display: flex;
  width: 100%;
  height: 5%;
  font-size: 4vw;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #034ea2;
}

main {
  background-color: #f3f6fa;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  border-radius: 4vw;
  font-size: 4vw;
  height: 20%;
  margin: 3%;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img {
  width: 10%;
  height: 100%;
  float: left;
}

text {
  font-size: 4vh;
  font-weight: bolder;
  display: block;
}

smalltext {
  font-size: 1vh;
  display: block;
  margin-left: 5%;
}

view {
  margin-left: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.enabled {
  display: none;
}
